.mentorlist_main_wrapp {
    padding: 1rem;
    width: 100%;
}

.mentorlist_dropdown_wrapp {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    margin: 1rem auto;
}   

.mentor_list_wrapp {
       display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  margin: 2rem auto;
}