@media screen and (max-width:500px) {
    .tranding_times_wrapp_sec {
        width: 48% !important
    }
}

.css-13cymwt-control {
    min-height: 0px !important;
    height: 32px !important;
    color: #c4c4c4;
    font-size: 15px;
    margin-bottom: 10px !important;

}