.hero-main-wrapp {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex: 1;
  margin-top: 96px;
  min-height: 86vh;
}

.banner-img {
  width: 54%;
  object-fit: contain;
}

.banner-text-wrapp {
  width: 28%;
  /* height: 100%; */
  background: var(--color-light-green);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  /* border-radius: 10px; */
}

.banner-inner-wrapp {
}

.banner-text-1 {
  font-family: var(--font-alt) !important;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  color: green;
}

.banner-text-2 {
  font-family: var(--font-alt) !important;
  font-size: 38px;
  font-weight: 600;
  color: var(--color-dark-blue);
}

@media (max-width: 920px) {
  .hero-main-wrapp {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 70vh;
  }

  .banner-img {
    width: 67%;
  }

  .banner-text-wrapp {
    width: 100%;
    align-items: center;
  }

  .went-base-wrapp {
    flex-direction: column;
  }
}
@media (max-width: 720px) {
  .banner-text-1 {
    font-size: 32px;
  }
  .banner-text-2 {
    font-size: 28px;
  }
}

@media (max-width: 400px) {
  .hero-main-wrapp {
    min-height: 79vh;
  }

  .banner-img {
    width: 90%;
  }

  .f-xl {
    font-size: 18px !important;
  }

  .font-heading {
    font-size: 24px !important;
  }
}
