.inq-details-flex-main-wrapp {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 1rem;
}

.inq-details-field-flex {
    display: flex;
}

.inq-details-label {
    min-width: 125px;
    color: var(--color-dark-blue);
    font-weight: 600 !important;
    font-size: 16px !important;
}


@media screen and (max-width:700px) {
    .profile_main_sec_wrapp-inq-details {
        width: 81%;
    }
}